<!-- app/views/tasks/show.html.erb -->
<h1><%= @task.title %></h1>

<div class="content">
  <p><%= @task.details %></p>
</div>

<div class="completed">
  <% if @task.completed %>
    <p><i class="fa-solid fa-square-check"></i> This task is completed.</p>
  <% else %>
    <i class="empty-checkbox"></i><span>This task is not completed.</span>
  <% end %>
</div>

<div class="show-link">
  <%= link_to "Edit task", "#{@task.id}/edit" %>

  <%= link_to "Delete",
    task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>
